 <form action="" method="get">
{#    <select name="sort_field">#}
{#        <option value="id">ID</option>#}
{#        <option value="public_date">Дата создания</option>#}
{#        <option value="tittle">Заголовок</option>#}
{#    </select>#}
{#    <input type="text" name="search_field">#}
{{ user }}
{{ form.search_field }} {# избавились от кода сверху благодаря формам #}
{{ form.sort_field }}
<input type="submit">
</form>

{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#    {{ qform }}#}
{#    <input type="submit">#}
{#</form>#}


{% for question in object_list %}
    {{ question.tittle }} <br>
    {{ question.public_date }}
{% endfor %}