<html>
<body>

<h2>Шапка</h2>
<h2>Меню</h2>

<h2>
    <p style="color: aqua">
        {% block tittle %} {% endblock %}
    </p>
</h2>

<div id="text">
    <h3>
        <p style="color: chocolate">
            {% block content %} {% endblock %}
        </p>
    </h3>
</div>


{% include 'footer.html' %}


</body>
</html>